@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background-color: #A9D7D1;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
}
#main {
  background-color: #FAFAFA;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 10px;
}

input {
  border-radius: 5px;
}
select {
  border-radius: 5px;
}